/* 版心 */
/* .w {
    width: 1054px;
    margin: 0 auto;
    background-color: black;
} */

.header {
    height: 60px;
    background-color: black;

}

.logo {
    float: left;
    color: white;
    margin-left: 196px;
    padding-top: 12px;
}

.registion {
    float: right;
    margin-right: 196px;
    padding-top: 14px;
}

.registion a {
    color: #fff;
    text-decoration: none;
}

.registion a:hover {
    text-decoration: underline;
}


.registion ul li {
    color: white;
    float: right;
    font-size: 16px;
    margin-left: 28px;
}

.banner {
    position: relative;
    height: 300px;
    background-color: rgb(29, 149, 63);
    background: url(111.jpg) no-repeat center 0px;
    background-position: center top;
}


.card {
    position: absolute;
    top: 237px;
    /* bottom: 9px; */
    right: 196px;
    width: 144px;
    height: 50px;
    /* background-color: pink; */
}

.card ul li {
    position: relative;
    width: 32px;
    height: 50px;
    background-color: rgb(211, 215, 212);
    float: left;
    margin-left: 15px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
}

.sample {
    position: absolute;
    bottom: 9px;
    width: 30px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    line-height: 50px;
    /* border: 0.5px solid transparent; */
    padding: 11px 8px;
}

.sample:hover {
    background-color: rgb(211, 215, 212);
    /* border: 1px solid black; */
}

.sample a {
    text-align: center;
    color: black;
    text-decoration: none;
}

.nav {
    position: relative;
    height: 60px;
    border: 1px solid gray;
    background-color: white;
    border-right: none;
}


.nav ul {
    position: absolute;
    top: 9px;
    left: 196px;
}

.nav ul li {
    width: 120px;
    height: 50px;
    font-size: 20px;
    color: rgb(83 91 85);
    background-color: rgb(204, 204, 204);
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    line-height: 50px;
    border: 1px solid gray;

}

.nav ul li:hover {
    background-color: #fff;
}

.main {
    width: 960px;
    height: 613px;
    /* background-color: red; */
    margin: 10px auto;
}

.line1 {
    width: 960px;
    height: 191px;
    /* background-color: blue; */
}

.line1 ul,
.line2 ul,
.line3 ul {
    display: flex;
    justify-content: space-between;
}

.line1 ul li {
    width: 308px;
    height: 191px;
    display: inline-block;
    /* background-color: green; */
    border: 1px solid rgb(204 204 204);
    text-align: center;
    line-height: 191px;
    background-size: cover;
    background: url(one3.jpg);


}

.line2,
.line3 {
    width: 960px;
    height: 191px;
    /* background-color: greenyellow; */
    margin-top: 21px;
}

.line2 ul li {
    width: 225px;
    height: 191px;
    /* background-color: pink; */
    border: 1px solid rgb(204 204 204);
    display: inline-block;
    text-align: center;
    line-height: 191px;
    background: url(six1.jpg);
    background-position: center top;
}

.line3 ul li {
    width: 288px;
    height: 191px;
    /* background-color: yellow; */
    border: 1px solid rgb(204 204 204);
    display: inline-block;
    text-align: center;
    line-height: 191px;
    background: url(eight2.jpg);
    background-position: center center;
}

footer {
    margin-top: 10px;
    height: 100px;
    background-color: rgb(78 85 85);
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 100px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}